body{
    background-color: black;
}
.content{
    font-size: 10px;
}
.brand{
    position: fixed;
    top: 10px;
    color: orange;
    padding-top: 20px;
    
}
.brand:hover{
    color: aqua;
    scale: 20px;
}
#nav-example>.nav-link{
    color: white;
}
#nav-example>.nav-link:hover{
    color: black;
    scale: 60px;
    font-weight: 20px;
}
.products{
    width: 300px;
    position: relative;
    padding-top: 120px;
    padding-left:60px ;
    margin-left: 20px;
    float: left;
}
.bun{
    border-radius: 20px;
    width: 150px;
    height: 45px;
    border-color: brown;
    background-color: transparent;
color: white ;
transition-duration: 1.5s;
}
.bun:hover{
    border-color: aqua;
    background-color: aqua;
    color: black;
    width: 200px;
    transition-duration: 2s;
    animation-duration: 2s;
    box-shadow: 0px 0px 40px 0px cyan;
    animation: ease-in-out;
}
.photo_gallery{
    color:white;
    background-color: black;
    width: 200px;
    height: 40px;
    border-radius: 25px;
    border-color: aqua;
    font-size: 15px;
    transition-duration: 2s;
    animation: ease-in-out;
    position: relative;
    top: 40px;
}
.photo_gallery:hover{
    color: cyan;
    background-color: black;
    box-shadow: 0px 0px 40px 0px cyan;
    transition-duration: 1s;
    animation: ease-in-out;
}
.head{
    color: aqua;
}
.mark{
    color: aqua;
    background-color: transparent;
    position: fixed;
}
.profile{
    width: 400px;
    position: relative;
    left: 2px;
}
@media (max-width:220px){
.head{
    font-size: 10px;
}
.products{
    background-color: aliceblue;
    height: 10px;
}

}
@media (min-width:200px) {
    .content{
        font-size: 10px;
        padding: 8px;
    }
    .products{
        width: 250px !important;
        position: relative;
        right: 50px;
        border-radius: 5%;
    }
    .head{
        font-size: 20px;
        text-align: center;
    }
    .brand{
        position: relative;
        top: 30px;
    }
    .profile{
        width: 250px;
        right: 25px;
        position: relative;
    }
}